<app-navbar></app-navbar>

<div class="bg-success min-vh-100 pt-5 mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center text-light pt-4 fw-bold fs-1">ABOUT</h2>
        <div class="text-light fs-5 star-icon"><i class="fa-solid fa-star"></i> </div>
    </div>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center pt-4">
        <div>
            <img src="image2.jpg" class="myimage img-fluid border border-5 rounded-5">
        </div>
        <div class="p-4 text-light text-center w-75 d-flex flex-column justify-content-center align-items-center">
            <h2 class="fw-bold">Nada Ahmed Moussa</h2>
            <h2 class="fst-italic">Software Developer</h2>
            <p class="p-3 fs-4 fw-semibold w-75">
                I am a 25-year-old aspiring software developer with a passion for building efficient and
                user-friendly applications.
                My goal is to continuously grow as a developer by learning new frameworks, mastering best practices,
                and contributing to meaningful projects. <br>
                I thrive in collaborative environments and am dedicated to delivering high-quality software
                solutions that make an impact.
            </p>
            <h2 class="fst-italic">Education</h2>
            <p class="p-3 fs-4 fw-semibold w-75">
                Student at ITI - FullStack.Net Software Development Track<br>
                Graduated from Electronics & Communication Engineering, Alexandria University
            </p>
            <h2 class="fst-italic">Languages</h2>
            <p class="p-3 fs-4 fw-semibold w-75">
                Arabic (Naive), English (Fluent)
            </p>
            <h2 class="fst-italic">Skills</h2>
            <div class="skills p-3 fs-4 w-75 fw-semibold d-flex justify-content-center align-items-center">
                <div class="col-5">
                    <h4 class="fw-bold text-decoration-underline">Technical Skills</h4>
                    <p>C, C++, C#</p>
                    <p>Python</p>
                    <p>HTML, CSS, JS</p>
                    <p>Angular, Bootstrap</p>
                    <p>Database, SQL</p>
                    <p>Microsoft Office</p>
                    <p>PowerApps, PowerBI</p>
                </div>
                <br>
                <div class="col-5">
                    <h4 class="fw-bold text-decoration-underline">Soft Skills</h4>
                    <p>Communication Skills</p>
                    <p>Presentation Skills</p>
                    <p>Leadership Skills</p>
                    <p>Time Management</p>
                    <p>Coaching & Training</p>
                    <p>Multitasking</p>
                    <p>Teamwork</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>