<div class="container pt-5 mt-5 d-flex flex-column align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center text-primary pt-4 fw-bold fs-1">CONTACT</h2>
        <div class="text-primary fs-5 star-icon"><i class=" fa-solid fa-star"></i> </div>
    </div>

    <form class="pt-5 pb-5 w-75">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Username">
            <label for="username">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="age" placeholder="Age">
            <label for="age">Age</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email Address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="pass" placeholder="Password">
            <label for="pass">Password</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a message" id="message" style="height: 150px;"></textarea>
            <label for="message">Message</label>
        </div>

        <button type="submit" class="btn btn-success mt-2 fs-5 shadow fw-semibold">Send Message</button>
    </form>

</div>