:root {
  --bs-primary-rgb: 44, 62, 80; /* Dark blue-gray */
  --bs-secondary-rgb: 26, 37, 47; /* Dark blue*/
  --bs-success-rgb: 26, 188, 156; /* Teal green*/
}

body {
  background-color: aliceblue;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0px;
}

.myimage {
  width: 400px;
}

.btn-success {
  --bs-btn-bg: rgb(var(--bs-success-rgb));
  --bs-btn-border-color: rgb(var(--bs-success-rgb));
}

.btn-primary {
  --bs-btn-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-bg: rgb(var(--bs-secondary-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-secondary-rgb));
}

.form-control {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
